<script src="~/js/signalr/dist/browser/signalr.js"></script>
<div id="joinControls">
    <input type="button" id="joinGame" value="Join Game" onclick="joinGame()"/>
    <input type="text" id="gameId" />
    <hr/>
    <input type="button" id="createGame" value="Create Game" onclick="createGame()"/>
    <hr/>
</div>
<div id="leaveControls" style="visibility: hidden">
    <input type="button" id="leaveGame" value="Leave Game" onclick="leaveGame()"/>
    <hr/>
    <input type="button" id="startGame" value="Start Game" onclick="startGame()"/>
    <hr/>
</div>
<div id="gameControls" style="visibility: hidden">
    <input type="button" id="sendAnswer" value="Send Answer" onclick="sendAnswer()"/>
    <input type="text" id="answer" />
    <hr/>
    <div id="gameContainer">

    </div>
</div>
